<div class="container-fluid mt-2">
    <h1>Naplex Groupchat</h1>
    <p>Post your sales and request help from the administrators.</p>
    <div class="container">
      <div class="message-container">
        <div *ngFor="let message of messages" class="message-wrapper">
          <div *ngIf="message.sender !== authService.getAuthenticatedUserName()" class="message received">
            <div class="sender">{{ message.sender }}</div>
            <div class="content">{{ message.text }}</div>
            <div class="timestamp">{{ message.timestamp | date: 'medium' }}</div>
          </div>
          <div *ngIf="message.sender === authService.getAuthenticatedUserName()" class="message sent">
            <div class="sender">Me</div>
            <div class="content">{{ message.text }}</div>
            <div class="timestamp">{{ message.timestamp | date: 'medium' }}</div>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." class="message-input" (keydown.enter)="sendMessage()">
        <button class="send-button" type="submit" (click)="sendMessage()">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
</div>