<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''" *ngIf="showSidenav">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <img class="imgLogo" src="assets/naplexlogo.png" alt="logo">
        </button>
        <div class="logo-text" *ngIf="collapsed">Naplex</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav" *ngIf="!ifIsRootPage">
        <br>
        <br>
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink] "
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>